<main>
    <section class="cabezeraModelo">
        <h1>Model Y</h1>
        <section class="datos-boton">
            <section class="datos">
                <section class="maletero">
                    <h2 class="main-info">2100+</h2>
                    <p class="sub">Litros de Carga</p>
                </section>
                <section class="aut-encabezado">
                    <h2 class="main-info">533 km</h2>
                    <p class="sub">Autonomía (WLTP)</p>
                </section>
                <section class="motor-encabezado">
                    <h2 class="main-info">AWD</h2>
                    <p class="sub">Motor dual</p>
                </section>
            </section>
            <section class="botones-encabezado">
                <button class="encargar">Encargar</button>
                <button class="prueba">Prueba de condución</button>
            </section>
        </section>
    </section>
    

</main>

